<div th:fragment="navbar"
     class="navbar navbar-light bg-light">


    <div class="d-flex justify-content-lg-start">
        <a class="navbar-brand" href="/api/user/subjects" th:text="SCHEDULE"/>
    </div>

    <div class="d-flex justify-content-center ">
        <ul class="nav  justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/api/user/subjects">SUBJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/user/calendar">CALENDAR</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="nav  justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/api/auth/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/auth/signup">Sign up</a>
            </li>
        </ul>
    </div>
</div>