<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container">


    <div class="month-info">
        <form th:action="@{/api/user/calendar}"
              method="get">

            <input type="number" th:name="year" th:value="${localDate.getYear()}" hidden>
            <input type="number" th:name="month" th:value="${localDate.getMonth().getValue()}" hidden>

            <button type="submit" th:name="arrow" th:value="previous">
                <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
            </button>

            <p th:text="${localDate.getMonth().name()}">MONTH</p>

            <button type="submit" th:name="arrow" th:value="next">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </button>
        </form>
    </div>


    <div class="row">

        <div class="col-7">

            <div class="row row-cols-7 days-naming">
                <div class="col"><p>Mon</p></div>
                <div class="col"><p>Tue</p></div>
                <div class="col"><p>Wed</p></div>
                <div class="col"><p>Thu</p></div>
                <div class="col"><p>Fri</p></div>
                <div class="col"><p>Sat</p></div>
                <div class="col"><p>Sun</p></div>
            </div>
            <div class="row row-cols-7 days-list">
                <div class="col" th:each="day,iter : ${days}">
                    <div>
                        <div th:if="${day} == null">
                            <div>Null</div>
                        </div>
                        <div th:if="${day} != null">
                            <div th:attr="onclick=|showDaySchedule(${day})|">
                                <p th:text="${day}"></p>
                                <div th:each="event : ${eventDto.getDaysAtCalendar().get(day)}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor"
                                         class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" id="schedule-list">
            <div class="schedule" id="schedule">
                Schedule
            </div>
        </div>

    </div>

</div>

<script th:inline="javascript">

    var userEvent = [[${eventDto.getDaysAtCalendar()}]]

    function showDaySchedule(day) {
        let events = userEvent[day];
        // delete all from div schedule

        var el = document.getElementById('schedule-list');
        while (el.firstChild) el.removeChild(el.firstChild);

        for (let i = 0; i < events.length; i++) {
            /*
            datatime
            lesson
            auditory
             */
            console.log('here')
            $("#schedule-list").append('<div class="border border-dark" id=' + i + '>\n' +
                '                <h6>'+ events[i].hours + '  -  ' + events[i].minutes +'</h6>\n' +
                '                <p>'+ events[i].name +'</p>\n' +
                '                <p>'+ events[i].auditory +'</p>\n' +
                '            </div>');
        }
    }

</script>

</body>
</html>