<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div th:insert="components/navbar :: navbar"/>

<div class="container">

    <form th:action="@{/api/user/events/edit/{id} (id=${event.getId()})}" method="post" enctype="multipart/form-data">


        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Teacher</th>
                <td>
                    <select name="teacherUUID" class="custom-select">
                        <option th:each="t:${teachers}"
                                th:selected="${user.getId().equals(t.getId())}"
                                th:text="${t.getSurname() + ' ' + t.getName() + ' ' + t.getParental()}"
                                th:value="${t.getId()}"/>
                    </select>
<!--                    -->
<!--                    <input type="text"-->
<!--                           name="teacherUUID"-->
<!--                           th:value="${event.getUser().getId()}" disabled>-->
                </td>
            </tr>

            <tr>
                <th>Subject</th>
                <td>
                    <input type="text" th:value="${event.getSubject().getName()}" disabled>
                </td>
            </tr>

            <tr>
                <th>Name</th>
                <td>
                    <input type="text" th:value="${event.getName()}" disabled>
                </td>
            </tr>

            <tr>
                <th>Group</th>
                <td>
                    <input type="text"
                           name="group"
                           th:value="${event.getGroup()}">
                </td>
            </tr>

            <tr>
                <th>Auditory</th>
                <td>
                    <input
                            type="text"
                            name="auditory"
                            th:value="${event.getAuditory()}">
                </td>
            </tr>

            <tr>
                <th>Date</th>
                <td>
                    <input type="datetime-local"
                           name="date"
                           th:value="${datetime}">
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            <div class="w-50 ml-3 mr-2">
                <button type="submit" name="action" value="cancel" class="btn btn btn-danger btn-block"
                        th:text="Cancel"></button>
            </div>
            <div class="w-50 ml-2 mr-3">
                <button type="submit" name="action" value="save" class="btn btn-dark btn-block"
                        th:text="Save"></button>
            </div>
        </div>

    </form>

</div>

</body>
</html>