<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:insert="components/navbar :: navbar"/>

<div class="container">

    <div th:each="request,iter:${requests}">

        <form th:action="@{/api/user/requests/{id} (id=${request.getId()})}" method="post">
            <div class="card">

                <div class="card-header">
                    <h4 th:text="'CREATED'+ ' ' + 'BY:'+' ' + ${request.getUser().getSurname() + ' ' +request.getUser().getName() + ' ' +request.getUser().getParental() }"/>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-responsive-sm">
                        <thead>
                        <tr>
                            <th>Change</th>
                            <th>FROM</th>
                            <th>TO</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>Auditory</td>
                            <td th:text="${oldEvents.get(iter.index).get().getAuditory()}"></td>
                            <td th:text="${request.getAuditory()}"></td>
                        </tr>

                        <tr>
                            <td>Group</td>
                            <td th:text="${oldEvents.get(iter.index).get().getGroup()}"></td>
                            <td th:text="${request.getGroup()}"></td>
                        </tr>

                        <tr>
                            <td>Time</td>
                            <td th:text="${oldEvents.get(iter.index).get().getDatetime()}"></td>
                            <td th:text="${request.getDatetime()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="w-50 ml-3 mr-2">
                        <button type="submit" name="action" value="cancel" class="btn btn btn-danger btn-block"
                                th:text="Cancel"></button>
                    </div>
                    <div class="w-50 ml-2 mr-3">
                        <button type="submit" name="action" value="confirm" class="btn btn-dark btn-block"
                                th:text="Confirm"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>