<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link href="../css/singIn.css" th:href="@{/css/singIn.css}" rel="stylesheet" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

    <div>

        <div class="row main-block">
            <div class="col-4 info-block">
                kek
            </div>
            <div class="col-8 sing-in-block">
                lol
            </div>

        </div>
    </div>


</body>
</html>