<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link href="../static/css/singIn.css" th:href="@{/static/css/singIn.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<div th:insert="components/navbar :: navbar"/>

<section class="vh-100 ">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://i.pinimg.com/564x/5c/c8/82/5cc882f21426a025376f50f18845d6a3.jpg" class="img-fluid"
                     alt="Phone image">

            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully registered to our awesome app!</div>
                </div>
                <form th:action="@{/api/auth/signup}" th:object="${signUpRequest}" method="post" class="form">

                    <h3>Create an account</h3>
                    <span class="abt">Already have an account? <a href="/api/auth/login">Sign In</a></span>

                    <div class="input-group p-1 mt-3">
                        <span class="input-group-text" th:text="Name"></span>
                        <input type="text" class="form-control" autocomplete="off" th:field="*{name}" placeholder="Enter Name"/>
                    </div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>

                    <div class="input-group p-1">
                        <span class="input-group-text" th:text="Surname"></span>
                        <input type="text" class="form-control" autocomplete="off" th:field="*{surname}" placeholder="Enter Surname">
                    </div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('surname')}"
                         th:errors="*{surname}"></div>

                    <div class="input-group p-1">
                        <span class="input-group-text" th:text="Parental"></span>
                        <input type="text" class="form-control" autocomplete="off" th:field="*{parental}" placeholder="Enter Parental">
                    </div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('parental')}"
                         th:errors="*{parental}"></div>

                    <div class="input-group p-1">
                        <span class="input-group-text" th:text="Email"></span>
                        <input type="email" class="form-control" autocomplete="off" name="email" th:field="*{email}" placeholder="Enter Email">
                    </div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}"></div>
                    <div class="alert alert-warning" th:if="${param.message}">This email already exists!</div>

                    <div class="input-group p-1">
                        <span class="input-group-text" th:text="About"></span>
                        <textarea type="email" class="form-control" name="about" placeholder="Enter About"></textarea>
                    </div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('about')}"
                         th:errors="*{about}"></div>

                    <div class="input-group p-1">
                        <span class="input-group-text" th:text="Course"></span>
                        <input type="number" class="form-control" autocomplete="off" name="course" th:field="*{course}" placeholder="Enter Course">
                    </div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('course')}"
                         th:errors="*{course}"></div>

                    <div class="input-group p-1">
                        <span class="input-group-text" th:text="Faculty"></span>
                        <input type="text" class="form-control" autocomplete="off" name="faculty" th:field="*{faculty}" placeholder="Enter faculty">
                    </div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('faculty')}"
                         th:errors="*{faculty}"></div>

                    <div class="input-group p-1">
                        <span class="input-group-text" th:text="Password"></span>
                        <input type="password" class="form-control" autocomplete="off" name="password" th:field="*{password}" placeholder="Enter Password">
                    </div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>

                    <div class="input-group p-1">
                        <span class="input-group-text" th:text="Confirmpassword"></span>
                        <input type="password" class="form-control" autocomplete="off" name="confirmPassword" th:field="*{confirmPassword}"
                               placeholder="Enter one more time">
                    </div>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('confirmPassword')}"
                         th:errors="*{confirmPassword}"></div>
                    <div class="alert alert-warning" th:if="${param.message}">Try repeat password one more time!
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>

                </form>
            </div>
        </div>
    </div>
</section>

</body>

</html>